select.image-picker name="image-picker-select"
  - @current_user.pictures.each do |picture|
    option value="#{picture.id}" data-img-src=picture.image_url(:square_500) data-date=picture.created_at.strftime("%d. %b %Y") data-img-label=picture.name = picture.id
